<section class="captcha">
    <div class="form-container">
        <img alt="captcha" src="" data-src="{{src}}" class="img-thumbnail img-captcha"/>
        <form class="form-inline captcha-form" role="form">
            <div class="form-group">
                <input size="15" type="text" class="form-control captcha-code" placeholder="{{insertCodePlaceholder}}"/>
            </div>
            <button type="submit" class="btn btn-primary code-submit">{{codeSubmit}}</button>
        </form>
    </div>
</section>
