<p class="lead">Привет, дружок! Меня зовут Дима и я разработчик приложения {{appName}} для Google Chrome. С 21 ноября по 12 декабря я провожу небольшой конкурс с классными призами среди пользователей приложения. Для участия достаточно установить приложение и авторизоваться в нем (эту часть ты уже сделал), а также сделать репост <a href="{{contestLink}}">этой</a> записи ВКонтакте. ВСЕ! 12 декабря специальная программа посчитает всех, кто делал репосты, и случайным образом выберет 7 победителей. Да, призов будет сразу семь, потому что скоро Новый Год :)</p>

<p class="lead">К слову о призах. Один победитель получит беспроводную колонку Jawbone Jambox. Еще один победитель получит наушники Beats Solo. И сразу семь человек получат Dancing Water Speakers - классные колонки, внутри которых вода танцует в такт с музыкой. Есть небольшие ограничения, про которые я написал на странице конкурса: призы можно забрать в Санкт-Петербурге и Москве + надо иметь 50 друзей ВКонтакте. Желаю тебе удачи и капельку везения :)</p>

<button type="button" class="btn btn-primary go-contest">{{goContest}}</button>
