<form class="form-inline" role="form">
    <div class="form-group">
        <input size="60" class="form-control input-lg" type="search" placeholder="{{placeholder}}">
    </div>
    <div class="form-group">
        <span class="glyphicon glyphicon-search search" title="{{searchTitle}}"></span>
    </div>
    <div class="form-group pull-right">
        <span class="glyphicon glyphicon-headphones local" title="{{localTitle}}"></span>
    </div>
</form>