<div class="pay">
    <p class="lead">{{{payText}}}</p>

    <form role="form">
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-lg yamoney">{{payYaMoney}}</button>
            <button type="button" class="btn btn-primary btn-lg vkrepost">{{vkRepost}}</button>
            <button type="button" class="btn btn-link btn-lg closePay">{{close}}</button>
        </div>
    </form>
</div>
