<p class="lead">{{{artistDescription}}}</p>

{{#albums}}
    <figure>
        <p>
            <a href="album:{{mbid}}">
                <img src="{{source}}" width="126" height="126" alt="{{title}}" class="img-rounded">
            </a>
        </p>
        <figcaption class="text-center">
            <a href="album:{{mbid}}">{{title}}</a>
        </figcaption>
    </figure>
{{/albums}}