<figure class="pull-left only-cover" data-src="{{albumCover}}" >
    <img width="174" height="174" src="" class="img-rounded album-cover hidden">
    <span class="glyphicon glyphicon-ban-circle nothing text-center hidden"></span>

    <div class="cover-loading">
        <div class="spinner"></div>
    </div>
</figure>

<ol class="breadcrumb lead">
    <li><a href="artist:{{artist}}">{{artist}}</a></li>
    <li class="active">{{title}}</li>
</ol>

{{#hasReleaseDate}}
    <p class="release-date">
        <strong>{{releaseDateI18n}}: {{releaseDate}}</strong>
    </p>
{{/hasReleaseDate}}

<p class="album-summary">
    {{{albumSummary}}}

    {{#hasDescription}}
        &nbsp;
        <a href="#" class="more-album-description">{{more}}&hellip;</a>
    {{/hasDescription}}
</p>

<p class="album-description hidden">{{{albumDescription}}}</p>
