{{#hasArtistDescription}}
    <p class="lead">{{{artistDescription}}}</p>
{{/hasArtistDescription}}

{{#albums}}
    <figure>
        <p>
            <a href="album:{{artist}} - {{title}}" data-mbid="{{mbid}}" data-artist="{{artist}}" data-album="{{title}}">
                <img data-src="{{cover}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="126" height="126" alt="{{title}}" class="img-rounded loading">
                <span class="glyphicon glyphicon-ban-circle nothing text-center hidden"></span>
            </a>
        </p>
        <figcaption class="text-center">
            <a href="album:{{artist}} - {{title}}" data-mbid="{{mbid}}">{{title}}</a>
        </figcaption>
    </figure>
{{/albums}}

{{#similarList.length}}
    <div class="lead similar">
        <span>{{similarArtists}}:</span>
        <ul>
            {{#similarList}}
                <li><a href="artist:{{.}}">{{.}}</a></li>
            {{/similarList}}
        </ul>
    </div>
{{/similarList.length}}
