<div class="bs-callout bs-callout-info birthday">
    <p>{{rateText}}</p>

    <form role="form">
        <div class="form-group">
            <button type="button" class="btn btn-primary cws">{{rate}}</button>
            <button type="button" class="btn btn-link close">{{close}}</button>
        </div>
    </form>
</div>