<figure class="pull-left only-cover">
    <img width="174" height="174" data-src="{{albumCover}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="img-rounded">
    <span class="glyphicon glyphicon-ban-circle nothing text-center hidden"></span>
</figure>

<ol class="breadcrumb lead">
    <li><a href="artist:{{artist}}">{{artist}}</a></li>
    <li class="active">{{title}}</li>
</ol>

<p>{{{albumDescription}}}</p>
