<div class="bs-callout bs-callout-info study" data-study="cloud">
    <button type="button" class="close" aria-hidden="true">&times;</button>

    <p>{{{text}}}.</p>
    <p><span style="margin-right: 4px" class="glyphicon glyphicon-cloud-upload"></span> {{{downloadText}}}.</p>
    <p><span style="margin-right: 4px" class="glyphicon glyphicon-cloud-download"></span> {{{listText}}}.</p>
</div>
