<div class="pay bs-callout bs-callout-info">
    <p class="lead">{{{payText}}}</p>

    <form role="form">
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-lg pay-yamoney">{{payYaMoney}}</button>
            <button type="button" class="btn btn-primary btn-lg pay-cwsrate">{{cwsRate}}</button>
            <button type="button" class="btn btn-link btn-lg pay-close">{{close}}</button>
        </div>
    </form>
</div>
