{{#changelogKeys}}
    <h3 class="news-header">{{appName}} v{{key}}</h3>

    <ul class="news-list">
        {{#changelog}}
            <li>{{{.}}}</li>
        {{/changelog}}
    </ul>
{{/changelogKeys}}
