<form role="form" class="settings">
    <div class="form-group">
        <label>{{vkAuthTitle}}</label>
        <div>
            <button type="button" class="btn btn-danger drop-vk-auth">{{dropVkAuth}}</button>
        </div>
    </div>
    <div class="form-group">
        <label>{{lastFmAuthTitle}}</label>
        <div>
            {{#lastFmAuthorized}}
                <button type="button" class="btn btn-danger drop-lastfm-token">{{dropLastFmAuth}}</button>
            {{/lastFmAuthorized}}

            {{^lastFmAuthorized}}
                <button type="button" class="btn btn-default get-lastfm-token">{{getLastFmAuth}}</button>
            {{/lastFmAuthorized}}
        </div>
    </div>
    <div class="form-group">
        <label for="smoothSwitch">{{smoothSwitchTitle}}</label>
        <div class="radio">
            <label>
                <input type="radio" name="smoothSwitch" id="smoothSwitch" value="1"{{#smoothSwitch}} checked{{/smoothSwitch}}>
                {{yes}}
            </label>
            <span class="text-muted hidden saved">{{saved}}!</span>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="smoothSwitch" id="smoothSwitch" value="0"{{^smoothSwitch}} checked{{/smoothSwitch}}>
                {{no}}
            </label>
            <span class="text-muted hidden saved">{{saved}}!</span>
        </div>
    </div>
    <div class="form-group">
        <label for="showNotifications">{{showNotificationsTitle}}</label>
        <div class="radio">
            <label>
                <input type="radio" name="showNotifications" id="showNotifications" value="1"{{#showNotifications}} checked{{/showNotifications}}>
                {{yes}}
            </label>
            <span class="text-muted hidden saved">{{saved}}!</span>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="showNotifications" id="showNotifications" value="0"{{^showNotifications}} checked{{/showNotifications}}>
                {{no}}
            </label>
            <span class="text-muted hidden saved">{{saved}}!</span>
        </div>
    </div>
    <div class="form-group">
        <label for="sendStatChkbx">{{sendStatisticsTitle}}</label>
        <div class="radio">
            <label>
                <input type="radio" name="sendStatChkbx" id="sendStatChkbx" value="1"{{#sendStat}} checked{{/sendStat}}>
                {{yes}}
            </label>
            <span class="text-muted hidden saved">{{saved}}!</span>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="sendStatChkbx" id="sendStatChkbx" value="0"{{^sendStat}} checked{{/sendStat}}>
                {{no}}
            </label>
            <span class="text-muted hidden saved">{{saved}}!</span>
        </div>
    </div>
    <div class="form-group">
        <label>{{{contestTitle}}}</label>
        <div>
            <input type="text" class="form-control" size="30" value="{{contestCode}}" disabled>
        </div>
    </div>
</form>