{{#songs}}
    <p class="song-queue" data-artist="{{artist}}" data-track="{{song}}" data-duration="{{duration}}">
        <strong><a href="artist:{{artist}}">{{artist}}</a></strong> - {{number}}. {{song}}
    </p>
{{/songs}}

<div class="song-playing-bg hidden">
    <div class="song-playing-progress" style="width: 0">&nbsp;</div>
</div>