{{#songs}}
    <p class="song" data-url="{{source}}">
        <span class="glyphicon glyphicon-play play"></span>
        <span class="glyphicon glyphicon-cloud-upload cloud" title="{{cloudTitle}}" data-title="{{artist}} - {{song}}"></span>
        <a href="{{source}}" download="{{artist}} - {{song}}.mp3">
            <span class="glyphicon glyphicon-floppy-save download" title="{{downloadTitle}}"></span>
        </a>
        <strong><a href="artist:{{artist}}">{{artist}}</a></strong> - {{song}}
        <span class="pull-right text-muted">{{duration}}</span>
    </p>
{{/songs}}
