{{#songs}}
    <p class="song" data-url="{{source}}">
        <span class="pull-right text-muted duration">{{duration}}</span>
        <span class="glyphicon glyphicon-play play"></span>
        <span class="glyphicon glyphicon-cloud-upload cloud{{#pending}} pending{{/pending}}" title="{{cloudTitle}}" data-artist="{{artist}}" data-title="{{song}}"></span>
        <a href="{{source}}" download="{{artist}} - {{song}}.mp3">
            <span class="glyphicon glyphicon-floppy-save download" title="{{downloadTitle}}"></span>
        </a>
        <strong><a href="artist:{{artist}}">{{artist}}</a></strong> - {{song}}
    </p>
{{/songs}}

{{#more}}
    <div class="more text-muted text-center" data-total="{{total}}" data-type="{{type}}" data-query="{{query}}"></div>
{{/more}}
