{{#popular.length}}
    <div class="most-popular-tracks">
        <div class="lead">{{mostPopularTracks}}</div>

        {{#popular}}
            <p class="song-queue" data-artist="{{artist}}" data-track="{{song}}" data-duration="{{duration}}">
                <strong><a href="artist:{{artist}}">{{artist}}</a></strong> - {{song}}
            </p>
        {{/popular}}
    </div>
{{/popular.length}}

{{#songs}}
    <p class="song" data-url="{{source}}" data-vkid="{{id}}" data-artist="{{artist}}" data-title="{{song}}">
        <span class="pull-right text-muted duration">{{duration}}</span>

        <span class="glyphicon glyphicon-play play"></span>
        <span class="glyphicon glyphicon-pause pause hidden"></span>

        <span class="glyphicon glyphicon-cloud-upload cloud{{#pending}} pending{{/pending}}" title="{{cloudTitle}}" data-artist="{{artist}}" data-title="{{song}}"></span>

        {{#showDownload}}
        <a href="{{source}}" download="{{artist}} - {{song}}.mp3">
            <span class="glyphicon glyphicon-floppy-save download" title="{{downloadTitle}}"></span>
        </a>
        {{/showDownload}}

        <strong><a href="artist:{{artist}}">{{artist}}</a></strong> - {{song}}
    </p>
{{/songs}}

{{#more}}
    <div class="more text-muted text-center" data-total="{{total}}" data-type="{{type}}" data-query="{{query}}"></div>
{{/more}}
