{{#songs}}
    <p class="song-queue" data-artist="{{artist}}" data-track="{{song}}" data-duration="{{duration}}">
        <strong><a href="artist:{{artist}}">{{artist}}</a></strong> - {{number}}. {{song}}
    </p>
{{/songs}}
