<header>
    <form class="form-inline" role="form">
        <div class="form-group">
            <input size="35" class="form-control input-lg" type="search" placeholder="{{placeholder}}">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default btn-lg search">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
        <div class="form-group">
            <span class="playpause"></span>
            <span class="mode shuffle"></span>
            <span class="mode repeat"></span>
            <input type="range" min="0" max="1" step="0.01">
        </div>
        <div class="form-group pull-right">
            <button type="button" class="btn btn-link btn-lg local">
                <span class="glyphicon glyphicon-cloud-download">
                    <span class="counter"></span>
                </span>
            </button>
        </div>
    </form>
</header>
<section class="loading-content"></section>

<section class="info"></section>
<section class="music"></section>
