<header>
    <form class="form-inline" role="form">
        <div class="form-group history">
            <span class="glyphicon glyphicon-arrow-left header-navback" role="button"></span>
            <span class="glyphicon glyphicon-arrow-right header-navforward" role="button"></span>
        </div>
        <div class="form-group">
            <input size="45" class="form-control input-lg" type="search" placeholder="{{placeholder}}">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default btn-lg search">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
        <div class="form-group pull-right manage-local">
            <span title="{{newsTitle}}" class="glyphicon glyphicon-bell header-news{{#blink}} header-news-blinking{{/blink}}" role="button"></span>
            <span title="{{settingsTitle}}" class="glyphicon glyphicon-align-justify header-settings" role="button"></span>

            <span title="{{cloudTitle}}" class="glyphicon glyphicon-cloud-download header-local">
                <span class="counter"></span>
            </span>
        </div>
    </form>
</header>
<section class="loading-content"><div class="spinner"></div></section>

<section class="info"></section>
<section class="music"></section>

<footer>
    <form class="form-inline" role="form">
        <div class="form-group player-buttons">
            <span class="glyphicon glyphicon-play play" role="button"></span>
            <span class="glyphicon glyphicon-pause pause hidden" role="button"></span>
            <span class="glyphicon glyphicon-step-backward prev" role="button"></span>
            <span class="glyphicon glyphicon-step-forward next" role="button"></span>
        </div>
        <div class="form-group pull-right mode-volume">
            <span title="{{shuffleTitle}}" class="glyphicon glyphicon-random mode{{#isShuffled}} active{{/isShuffled}}" data-mode="shuffle" role="button"></span>
            <span title="{{repeatTitle}}" class="glyphicon glyphicon-repeat mode{{#isRepeated}} active{{/isRepeated}}" data-mode="repeat" role="button"></span>

            <input type="range" min="0" max="1" step="0.01" value="{{volume}}">
        </div>
        <div class="form-group song-title hidden">
            <a class="track-artist" href=""></a> - <span class="track-title"></span>
        </div>
    </form>
    <div class="song-playing-bg">
        <div class="song-playing-progress" style="width: 0"></div>
    </div>
</footer>
