<header>
    <form class="form-inline" role="form">
        <div class="form-group">
            <input size="60" class="form-control input-lg" type="search" placeholder="{{placeholder}}">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default btn-lg search">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
        <div class="form-group pull-right">
            <span class="glyphicon glyphicon-cloud-download local" title="{{localTitle}}">{{localFilesCounter}}</span>
        </div>
    </form>
</header>
<section class="loading-content"></section>

<section class="info"></section>
<section class="music clearfix"></section>
